* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background: #1d1d1b;
  height: 500vh;
  width: 500vw;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: tomato;
}

.main-page {
  background-color: #1d1d1b;
  height: 100vh;
  width: 100vw;
  transform: translateX(200vw) translateY(200vh);
}
.main-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
}
.logo__text {
  font-family: "Kumar One", cursive;
  text-align: center;
  color: tomato;
  background-color: #1d1d1b;
  line-height: 4rem;
  font-size: 3.5rem;
  z-index: 20;
  position: relative;
}
.logo__underline {
  min-height: 2px;
  width: 100vw;
  background-color: tomato;
  position: absolute;
  top: 2.8rem;
  left: -29vw;
  z-index: 10;
}
.logo__cover {
  background-color: #1d1d1b;
  width: 110%;
  height: 120%;
  position: absolute;
  z-index: 30;
  top: -10%;
  right: -5%;
}

.navigation {
  position: relative;
}
.navigation__underline {
  min-height: 2px;
  width: 100vw;
  background-color: tomato;
  position: absolute;
  bottom: 5px;
  left: -25vw;
  z-index: 3;
}
.navigation__cover {
  width: 110%;
  background-color: #1d1d1b;
  height: 80%;
  position: absolute;
  right: -5%;
  bottom: -5%;
  z-index: 20;
}
.navigation__list {
  color: tomato;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Tomorrow", sans-serif;
}
.navigation__list__item {
  position: relative;
  background-color: #1d1d1b;
  z-index: 5;
}
.navigation__list__item-link {
  cursor: pointer;
}
.navigation__list__item__crossline {
  position: absolute;
  left: 1rem;
  bottom: -120vh;
  width: 2px;
  height: 0;
  background-color: tomato;
  z-index: 5;
}

.contact-page__navigation {
  margin-top: 10vh;
  margin-left: 0;
}
.contact-page__navigation__list {
  color: tomato;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Tomorrow", sans-serif;
}
.contact-page__navigation__list__item-link {
  cursor: pointer;
}

#contact__main-link3 {
  font-size: 2.2rem;
}

.about-page__navigation {
  margin-top: 10vh;
  margin-left: 0;
}
.about-page__navigation__list {
  color: tomato;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Tomorrow", sans-serif;
}
.about-page__navigation__list__item-link {
  cursor: pointer;
}

#about__main-link0 {
  font-size: 2.2rem;
}

.project-page__navigation {
  margin-top: 10vh;
  margin-left: 0;
}
.project-page__navigation__list {
  color: tomato;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Tomorrow", sans-serif;
}
.project-page__navigation__list__item-link {
  cursor: pointer;
}

#project__main-link1 {
  font-size: 2.2rem;
}

.technology-page__navigation {
  margin-top: 10vh;
  margin-left: 0;
}
.technology-page__navigation__list {
  color: tomato;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 3rem;
  font-size: 1.5rem;
  font-family: "Tomorrow", sans-serif;
}
.technology-page__navigation__list__item-link {
  cursor: pointer;
}

#technology__main-link2 {
  font-size: 2.2rem;
}

#leading-line0 {
  width: 100%;
  height: 100%;
}

#leading-line1 {
  width: 100%;
  height: 100%;
}

#leading-line2 {
  width: 100%;
  height: 100%;
}

#leading-line3 {
  width: 100%;
  height: 100%;
}

#leading-line0 polyline {
  stroke-dasharray: 4300;
  stroke-dashoffset: 4300;
}

#leading-line1 polyline {
  stroke-dasharray: 2400;
  stroke-dashoffset: 2400;
}

#leading-line2 polyline {
  stroke-dasharray: 5300;
  stroke-dashoffset: 5300;
}

#leading-line3 polyline {
  stroke-dasharray: 3800;
  stroke-dashoffset: 3800;
}

.svg-container {
  width: 2591.25px;
  height: 652.5px;
  position: absolute;
  right: 95%;
  bottom: 18%;
  z-index: -1;
}

.svg-container1 {
  width: 914.25px;
  height: 585.75px;
  position: absolute;
  right: 95%;
  top: 100%;
  z-index: -1;
}

.svg-container2 {
  width: 732.75px;
  height: 1773.75px;
  position: absolute;
  left: 55%;
  bottom: -100px;
  z-index: -1;
}

.svg-container3 {
  width: 2221.5px;
  height: 647.25px;
  position: absolute;
  left: 100%;
  bottom: 19%;
  z-index: -1;
}

/*# sourceMappingURL=/app.581aa3f0.css.map */