* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 12px;
}
@media screen and (min-width: 360px) {
  p {
    font-size: calc(12px + 8 * ((100vw - 360px) / 1540));
  }
}
@media screen and (min-width: 1900px) {
  p {
    font-size: 20px;
  }
}

nav {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  nav {
    font-size: calc(16px + 8 * ((100vw - 360px) / 1540));
  }
}
@media screen and (min-width: 1900px) {
  nav {
    font-size: 24px;
  }
}

body {
  background: #1d1d1b;
  height: 2000vh;
  width: 2000vw;
}

p, button, label, input {
  font-family: "Play", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

section {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ff5217;
  position: relative;
}

svg {
  pointer-events: none;
}

.contact-page__navigation__list__item {
  position: relative;
}

.technology-page__navigation__list__item {
  position: relative;
}

.about-page__navigation__list__item {
  position: relative;
}

.project-page__navigation__list__item {
  position: relative;
}

.main-page {
  background-color: #1d1d1b;
  height: 100vh;
  width: 100vw;
  transform: translateX(950vw) translateY(950vh);
}
.main-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: relative;
}
.logo__text {
  font-family: "Kumar One", cursive;
  text-align: center;
  color: #ff5217;
  background-color: #1d1d1b;
  line-height: 4rem;
  z-index: 20;
  position: relative;
}
.logo__underline {
  min-height: 2px;
  width: 100vw;
  background-color: #ff5217;
  position: absolute;
  top: 2.8rem;
  left: -29vw;
  z-index: 10;
}
.logo__cover {
  background-color: #1d1d1b;
  width: 110%;
  height: 120%;
  position: absolute;
  z-index: 30;
  top: -10%;
  right: -5%;
}

.navigation {
  position: relative;
}
.navigation__underline {
  min-height: 2px;
  width: 100vw;
  background-color: #ff5217;
  position: absolute;
  bottom: 5px;
  left: -25vw;
  z-index: 3;
}
.navigation__cover {
  width: 110%;
  background-color: #1d1d1b;
  height: 80%;
  position: absolute;
  right: -5%;
  bottom: -5%;
  z-index: 20;
}
.navigation__list {
  color: #ff5217;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-top: 3rem;
  font-family: "Tomorrow", sans-serif;
}
.navigation__list__item {
  position: relative;
  background-color: #1d1d1b;
  z-index: 5;
}
.navigation__list__item-link {
  cursor: pointer;
}
.navigation__list__item__crossline {
  position: absolute;
  left: 1rem;
  bottom: -120vh;
  width: 2px;
  height: 0;
  background-color: #ff5217;
}

#contact-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(200vh) translateX(400vw);
}

.contact-wrapper {
  width: 80%;
  margin: 0 auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}

.text-svg-container {
  height: 100px;
  width: 100%;
  color: #ff5217;
  display: flex;
}
.text-svg-container__text {
  width: 75%;
}
.text-svg-container__svg {
  width: 25%;
  border-left: 2px solid #ff5217;
  padding-left: 50px;
  display: flex;
}
.text-svg-container__svg__linkedin {
  height: 2.5rem;
  fill: #ff5217;
}
.text-svg-container__svg__mail {
  height: 3rem;
  fill: #ff5217;
  margin-right: 40px;
}

.contact-form {
  margin-top: 4rem;
  width: 600px;
}
.contact-form__list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #ff5217;
}
.contact-form__list li label {
  width: 150px;
  padding-top: 5px;
}
.contact-form__list li input, .contact-form__list li textarea {
  color: #ff5217;
  background-color: transparent;
  width: 450px;
  border: none;
  height: 40px;
}
.contact-form__list li textarea {
  height: 100px;
  resize: none;
}

#name {
  border-left: 2px #ff5217 solid;
  border-bottom: 2px #ff5217 solid;
}

#mail {
  border-left: 2px #ff5217 solid;
}

#msg {
  border-left: 2px #ff5217 solid;
  border-top: 2px #ff5217 solid;
}

.form-button {
  display: flex;
  justify-content: end;
}
.form-button button {
  background-color: transparent;
  padding: 0.5rem;
  color: #ff5217;
  border: 1px solid #ff5217;
  width: 450px;
  margin: 0 0 0 auto;
  text-align: left;
}
.form-button button:hover {
  background-color: #ff5217;
  color: #1d1d1b;
  cursor: pointer;
}

.social-link {
  text-decoration: underline;
  font-weight: bold;
}

.contact-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
.contact-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.contact-page__navigation__list__item-link {
  cursor: pointer;
}

#contact__main-link3 {
  font-size: 2.2rem;
}

.about-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
.about-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.about-page__navigation__list__item-link {
  cursor: pointer;
}

#about__main-link0 {
  font-size: 2.2rem;
}

#about-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(200vh);
}

.about-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.2rem);
  line-height: 1.5rem;
}

.portrait-container {
  width: 300px;
  margin-top: -80px;
  position: relative;
}

.about-description {
  width: 100%;
  height: 100%;
}

.description-container {
  color: #ff5217;
  max-width: 60%;
  position: relative;
}

.description-cover {
  top: 0;
  right: 0;
  background-color: #1d1d1b;
  position: absolute;
  width: 100%;
  height: 100%;
}

#portrait {
  height: 100%;
  width: 100%;
}

#portrait__line-down {
  position: absolute;
  top: 98%;
  left: -212px;
}

#portrait__line-down-left {
  position: absolute;
  top: 81%;
  right: 299px;
}

#portrait__line-top-left {
  position: absolute;
  top: 0;
  right: 207px;
}

#portrait__line-top-right {
  position: absolute;
  top: 27%;
  left: 259px;
}

#portrait__line-down-right {
  position: absolute;
  top: 87.5%;
  left: 273px;
}

#portrait__line-left {
  position: absolute;
  top: 39%;
  right: 192px;
}

.project-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
.project-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.project-page__navigation__list__item-link {
  cursor: pointer;
}

#project__main-link1 {
  font-size: 2.2rem;
}

#project-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(400vh) translateX(100vw);
}

.technology-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
.technology-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.technology-page__navigation__list__item-link {
  cursor: pointer;
}

#technology__main-link2 {
  font-size: 2.2rem;
}

#technology-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateX(300vw);
}

#leading-line0 {
  width: 3455px;
  height: 870px;
  position: absolute;
  right: 95%;
  bottom: 19%;
  z-index: -1;
}

#leading-line1 {
  width: 1219px;
  height: 781px;
  position: absolute;
  right: 95%;
  top: 100%;
  z-index: -1;
}

#leading-line2 {
  width: 977px;
  height: 2365px;
  position: absolute;
  left: 55%;
  bottom: -130px;
  z-index: -1;
}

#leading-line3 {
  width: 2962px;
  height: 870px;
  position: absolute;
  left: 100%;
  bottom: 19%;
  z-index: -1;
}

#leading-line0 polyline {
  stroke-dasharray: 4300;
  stroke-dashoffset: 4300;
}

#leading-line1 polyline {
  stroke-dasharray: 2448;
  stroke-dashoffset: 2448;
}

#leading-line2 polyline {
  stroke-dasharray: 5236;
  stroke-dashoffset: 5236;
}

#leading-line3 polyline {
  stroke-dasharray: 3832;
  stroke-dashoffset: 3832;
}

#leading-line-contact0 {
  width: 6358px;
  height: 717px;
  position: absolute;
  right: 95%;
  bottom: 18%;
  z-index: -1;
}

#leading-line-contact1 {
  width: 4051px;
  height: 1277px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-contact2 {
  width: 1799px;
  height: 1723px;
  position: absolute;
  right: 95%;
  bottom: 15%;
  z-index: -1;
}

#leading-line-contact4 {
  width: 3166px;
  height: 1014px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-contact0 polyline {
  stroke-dasharray: 7927;
  stroke-dashoffset: 7927;
}

#leading-line-contact1 polyline {
  stroke-dasharray: 5718;
  stroke-dashoffset: 5718;
}

#leading-line-contact2 polyline {
  stroke-dasharray: 3773;
  stroke-dashoffset: 3773;
}

#leading-line-contact4 polyline {
  stroke-dasharray: 4216;
  stroke-dashoffset: 4216;
}

#leading-line-technology0 {
  width: 4449px;
  height: 1326px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology1 {
  width: 2852px;
  height: 2603px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology3 {
  width: 1856px;
  height: 1326px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology4 {
  width: 1737px;
  height: 2342px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology0 polyline {
  stroke-dasharray: 5900;
  stroke-dashoffset: 5900;
}

#leading-line-technology1 polyline {
  stroke-dasharray: 6740;
  stroke-dashoffset: 6740;
}

#leading-line-technology3 polyline {
  stroke-dasharray: 3800;
  stroke-dashoffset: 3800;
}

#leading-line-technology4 polyline {
  stroke-dasharray: 4055;
  stroke-dashoffset: 4055;
}

#leading-line-about1 {
  width: 2226px;
  height: 1277px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-about2 {
  width: 4326px;
  height: 1791px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-about3 {
  width: 6479px;
  height: 717px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-about4 {
  width: 2214px;
  height: 1014px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-about1 polyline {
  stroke-dasharray: 4150;
  stroke-dashoffset: 4150;
}

#leading-line-about2 polyline {
  stroke-dasharray: 6350;
  stroke-dashoffset: 6350;
}

#leading-line-about3 polyline {
  stroke-dasharray: 8500;
  stroke-dashoffset: 8500;
}

#leading-line-about4 polyline {
  stroke-dasharray: 3432;
  stroke-dashoffset: 3432;
}

#leading-line-project0 {
  width: 2318px;
  height: 1742px;
  position: absolute;
  right: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project2 {
  width: 2315px;
  height: 3113px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project3 {
  width: 4071px;
  height: 1774px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project4 {
  width: 196px;
  height: 1062px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project0 polyline {
  stroke-dasharray: 3919;
  stroke-dashoffset: 3919;
}

#leading-line-project2 polyline {
  stroke-dasharray: 6278;
  stroke-dashoffset: 6278;
}

#leading-line-project3 polyline {
  stroke-dasharray: 6000;
  stroke-dashoffset: 6000;
}

#leading-line-project4 polyline {
  stroke-dasharray: 1430;
  stroke-dashoffset: 1430;
}

/*# sourceMappingURL=/app.581aa3f0.css.map */