.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

p, button {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  p, button {
    font-size: calc(16px + 4 * ((100vw - 360px) / 1540));
  }
}
@media screen and (min-width: 1900px) {
  p, button {
    font-size: 20px;
  }
}

nav, span {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  nav, span {
    font-size: calc(16px + 8 * ((100vw - 360px) / 1540));
  }
}
@media screen and (min-width: 1900px) {
  nav, span {
    font-size: 24px;
  }
}

body {
  background: #1d1d1b;
  height: 2000vh;
  width: 2000vw;
}
@media (max-width: 359px) {
  body {
    width: 100vw;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  body {
    width: 100vw;
  }
}

p, button, label, input, span {
  font-family: "Play", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

section {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ff5217;
  position: relative;
}

svg {
  pointer-events: none;
}

.contact-page__navigation__list__item {
  position: relative;
}

.technology-page__navigation__list__item {
  position: relative;
}

.about-page__navigation__list__item {
  position: relative;
}

.project-page__navigation__list__item {
  position: relative;
}

.main-page {
  background-color: #1d1d1b;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 600px) and (max-width: 949px) {
  .main-page {
    transform: translateX(950vw) translateY(950vh);
  }
}
@media (min-width: 950px) and (max-width: 1599px) {
  .main-page {
    transform: translateX(950vw) translateY(950vh);
  }
}
@media (min-width: 1600px) {
  .main-page {
    transform: translateX(950vw) translateY(950vh);
  }
}
.main-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 359px) {
  .main-page__container {
    justify-content: start;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .main-page__container {
    justify-content: start;
  }
}

.logo {
  position: relative;
}
@media (max-width: 359px) {
  .logo {
    margin-top: 20vh;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .logo {
    margin-top: 20vh;
  }
}
.logo__text {
  font-family: "Kumar One", cursive;
  text-align: center;
  color: #ff5217;
  background-color: #1d1d1b;
  line-height: 4rem;
  z-index: 20;
  position: relative;
}
@media (max-width: 359px) {
  .logo__text {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .logo__text {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}
.logo__underline {
  min-height: 2px;
  width: 100vw;
  background-color: #ff5217;
  position: absolute;
  top: 2.8rem;
  left: -29vw;
  z-index: 10;
}
.logo__cover {
  background-color: #1d1d1b;
  width: 110%;
  height: 120%;
  position: absolute;
  z-index: 30;
  top: -10%;
  right: -5%;
}

.navigation {
  position: relative;
}
.navigation__underline {
  min-height: 2px;
  width: 100vw;
  background-color: #ff5217;
  position: absolute;
  bottom: 5px;
  left: -25vw;
  z-index: 3;
}
.navigation__cover {
  width: 110%;
  background-color: #1d1d1b;
  height: 80%;
  position: absolute;
  right: -5%;
  bottom: -5%;
  z-index: 20;
}
.navigation__list {
  color: #ff5217;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  margin-top: 3rem;
  font-family: "Tomorrow", sans-serif;
}
@media (max-width: 359px) {
  .navigation__list {
    margin-top: 4rem;
    flex-direction: column;
    height: 40vh;
    font-size: 2rem;
    width: 90vw;
  }
  .navigation__list li:nth-child(1) {
    padding-left: 25%;
  }
  .navigation__list li:nth-child(2) {
    padding-left: 50%;
  }
  .navigation__list li:nth-child(3) {
    padding-left: 75%;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .navigation__list {
    margin-top: 4rem;
    flex-direction: column;
    height: 40vh;
    font-size: 2rem;
    width: 90vw;
  }
  .navigation__list li:nth-child(2) {
    padding-left: 25%;
  }
  .navigation__list li:nth-child(3) {
    padding-left: 50%;
  }
  .navigation__list li:nth-child(4) {
    padding-left: 75%;
  }
}
.navigation__list__item {
  position: relative;
  background-color: #1d1d1b;
  z-index: 5;
}
.navigation__list__item-link {
  cursor: pointer;
}
.navigation__list__item__crossline {
  position: absolute;
  left: 1rem;
  bottom: -120vh;
  width: 2px;
  height: 0;
  background-color: #ff5217;
}
@media (max-width: 359px) {
  .navigation__list__item__crossline {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .navigation__list__item__crossline {
    display: none;
  }
}

#contact-page {
  top: 0;
  left: 0;
  position: absolute;
}
@media (max-width: 359px) {
  #contact-page {
    transform: translateY(400vh);
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  #contact-page {
    transform: translateY(400vh);
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #contact-page {
    transform: translateY(200vh) translateX(400vw);
  }
}
@media (min-width: 950px) and (max-width: 1599px) {
  #contact-page {
    transform: translateY(200vh) translateX(400vw);
  }
}
@media (min-width: 1600px) {
  #contact-page {
    transform: translateY(200vh) translateX(400vw);
  }
}

.contact-wrapper {
  width: 80%;
  margin: 0 auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 100px;
  height: 100%;
  width: 100%;
}
@media (max-width: 359px) {
  .contact-content {
    align-items: center;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .contact-content {
    align-items: center;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  .contact-content {
    align-items: center;
  }
}

.text-svg-container {
  height: 100px;
  width: 100%;
  color: #ff5217;
  display: flex;
}
.text-svg-container__text {
  width: 75%;
}
@media (max-width: 359px) {
  .text-svg-container__text {
    width: 100%;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .text-svg-container__text {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  .text-svg-container__text {
    width: 100%;
  }
}
.text-svg-container__svg {
  width: 25%;
  border-left: 2px solid #ff5217;
  padding-left: 50px;
  display: flex;
}
@media (max-width: 359px) {
  .text-svg-container__svg {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .text-svg-container__svg {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  .text-svg-container__svg {
    display: none;
  }
}
.text-svg-container__svg__linkedin {
  height: 2.5rem;
  fill: #ff5217;
}
.text-svg-container__svg__mail {
  height: 3rem;
  fill: #ff5217;
  margin-right: 40px;
}

.contact-form {
  margin-top: 4rem;
  width: 600px;
}
@media (max-width: 359px) {
  .contact-form {
    width: 280px;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .contact-form {
    width: 350px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  .contact-form {
    width: 500px;
  }
}
.contact-form__list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #ff5217;
}
.contact-form__list li label {
  width: 150px;
  padding-top: 5px;
}
.contact-form__list li input, .contact-form__list li textarea {
  color: #ff5217;
  background-color: transparent;
  width: 450px;
  border: none;
  height: 40px;
  outline: none;
}
.contact-form__list li textarea {
  height: 100px;
  resize: none;
}

#name {
  border-left: 2px #ff5217 solid;
  border-bottom: 2px #ff5217 solid;
}

#mail {
  border-left: 2px #ff5217 solid;
}

#msg {
  border-left: 2px #ff5217 solid;
  border-top: 2px #ff5217 solid;
}

.form-button {
  display: flex;
  justify-content: end;
}
.form-button button {
  background-color: transparent;
  padding: 0.5rem;
  color: #ff5217;
  border: 1px solid #ff5217;
  width: 450px;
  margin: 0 0 0 auto;
  text-align: left;
}
.form-button button:hover {
  background-color: #ff5217;
  color: #1d1d1b;
  cursor: pointer;
}

.social-link {
  text-decoration: underline;
  font-weight: bold;
}

.contact-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
@media (max-width: 359px) {
  .contact-page__navigation {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .contact-page__navigation {
    display: none;
  }
}
.contact-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.contact-page__navigation__list__item-link {
  cursor: pointer;
}

#contact__main-link3 {
  font-size: 2.2rem;
}

.about-page__navigation {
  margin-top: 0;
  margin-left: 0;
}
.about-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.about-page__navigation__list__item-link {
  cursor: pointer;
}
@media (max-width: 359px) {
  .about-page__navigation {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .about-page__navigation {
    display: none;
  }
}

#about__main-link0 {
  font-size: 2.2rem;
}

#about-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(200vh);
}
@media (max-width: 359px) {
  #about-page {
    transform: translateY(100vh);
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  #about-page {
    transform: translateY(100vh);
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #about-page {
    transform: translateY(200vh);
  }
}
@media (min-width: 950px) and (max-width: 1599px) {
  #about-page {
    transform: translateY(200vh);
  }
}
@media (min-width: 1600px) {
  #about-page {
    transform: translateY(200vh);
  }
}

.about-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 2.2rem);
  line-height: 1.5rem;
}

.portrait-container {
  display: inline;
  width: 200px;
  margin-top: -80px;
  position: relative;
}
@media (min-width: 1000px) {
  .portrait-container {
    width: 300px;
  }
}
@media (min-width: 1500px) {
  .portrait-container {
    width: 450px;
  }
}
@media (max-width: 359px) {
  .portrait-container {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .portrait-container {
    display: none;
  }
}

.about-description {
  width: 100%;
  height: 100%;
  line-height: 1.8rem;
}
@media (min-width: 1000px) {
  .about-description {
    line-height: 1.5rem;
  }
}

.description-container {
  width: 70%;
  margin-top: -40px;
  color: #ff5217;
  position: relative;
}
@media (min-width: 1000px) {
  .description-container {
    max-width: 60%;
  }
}
@media (max-width: 359px) {
  .description-container {
    width: 100%;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .description-container {
    width: 100%;
  }
}

.description-cover {
  top: 0;
  right: 0;
  background-color: #1d1d1b;
  position: absolute;
  width: 100%;
  height: 100%;
}

#portrait {
  height: 100%;
  width: 100%;
}

#portrait__line-down {
  top: 97%;
  left: -273px;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-down {
    top: 98%;
    left: -212px;
  }
}
@media (min-width: 1500px) {
  #portrait__line-down {
    top: 98.5%;
    left: -121px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-down {
    display: none;
  }
}

#portrait__line-down-left {
  right: 197px;
  top: 80%;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-down-left {
    top: 81%;
    right: 299px;
  }
}
@media (min-width: 1500px) {
  #portrait__line-down-left {
    top: 82%;
    right: 449px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-down-left {
    display: none;
  }
}

#portrait__line-top-left {
  top: -15px;
  right: 137px;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-top-left {
    top: 0;
    right: 207px;
  }
}
@media (min-width: 1500px) {
  #portrait__line-top-left {
    top: 25px;
    right: 311px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-top-left {
    display: none;
  }
}

#portrait__line-top-right {
  top: 25%;
  left: 170px;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-top-right {
    top: 27%;
    left: 259px;
  }
}
@media (min-width: 1500px) {
  #portrait__line-top-right {
    top: 28%;
    left: 388px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-top-right {
    display: none;
  }
}

#portrait__line-down-right {
  top: 85%;
  left: 182px;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-down-right {
    top: 87.5%;
    left: 273px;
  }
}
@media (min-width: 1500px) {
  #portrait__line-down-right {
    top: 88.5%;
    left: 411px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-down-right {
    display: none;
  }
}

#portrait__line-left {
  top: 34%;
  right: 130px;
  position: absolute;
}
@media (min-width: 1000px) {
  #portrait__line-left {
    top: 39%;
    right: 192px;
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #portrait__line-left {
    display: none;
  }
}

.project-page__navigation {
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
}
@media (max-width: 359px) {
  .project-page__navigation {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .project-page__navigation {
    display: none;
  }
}
.project-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.project-page__navigation__list__item-link {
  cursor: pointer;
}

#project__main-link1 {
  font-size: 2.2rem;
}

#project-page {
  top: 0;
  left: 0;
  position: absolute;
}
@media (max-width: 359px) {
  #project-page {
    transform: translateY(200vh);
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  #project-page {
    transform: translateY(200vh);
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #project-page {
    transform: translateY(400vh) translateX(100vw);
  }
}
@media (min-width: 950px) and (max-width: 1599px) {
  #project-page {
    transform: translateY(400vh) translateX(100vw);
  }
}
@media (min-width: 1600px) {
  #project-page {
    transform: translateY(400vh) translateX(100vw);
  }
}

.glide__bullet {
  background-color: #1d1d1b;
  border: 2px solid #ff5217;
  height: 30px;
  width: 30px;
  border-radius: 0;
}
.glide__bullet:hover {
  background-color: #1d1d1b;
  border: 2px solid #ff5217;
}
.glide__bullet:focus {
  background-color: #ff5217;
  border: 2px solid #ff5217;
}
.glide__bullet--active {
  background-color: #ff5217;
}
.glide__bullet--active:hover {
  background-color: #ff5217;
  border: 2px solid #ff5217;
}
.glide__bullet--active:focus {
  background-color: #ff5217;
  border: 2px solid #ff5217;
}

.project__slide {
  cursor: default;
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
}
.project__slide > svg {
  width: 100%;
  position: absolute;
}
.project__slide .promyk_svg {
  height: 465px;
  min-width: 1591px;
  bottom: 2em;
  left: -160px;
}
.project__slide .alan_svg {
  font-family: "Kumar One", cursive;
  text-align: center;
  left: -125px;
  bottom: -7.5em;
  height: 615px;
  min-width: 1605px;
}

.promyk-text {
  width: 400px;
  font-family: "Play", sans-serif;
  color: #ff5217;
  position: absolute;
  bottom: 255px;
  left: 590px;
  text-align: right;
}
.promyk-text h2 {
  margin-bottom: 20px;
}

.alan-text {
  width: 220px;
  font-family: "Play", sans-serif;
  color: #ff5217;
  position: absolute;
  bottom: 102px;
  right: 105px;
  text-align: right;
}
.alan-text h2 {
  margin-bottom: 20px;
  font-family: "Tomorrow", sans-serif;
}

#sloneczko_project {
  position: absolute;
  top: 14vh;
  left: 10vw;
  width: 359.8px;
  height: 268.3px;
}

.technology-page__navigation {
  display: block;
  margin-top: 0;
  margin-left: 0;
}
@media (max-width: 359px) {
  .technology-page__navigation {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .technology-page__navigation {
    display: none;
  }
}
.technology-page__navigation__list {
  color: #ff5217;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 1rem;
  font-family: "Tomorrow", sans-serif;
}
.technology-page__navigation__list__item-link {
  cursor: pointer;
}

#technology__main-link2 {
  font-size: 2.2rem;
}

#technology-page {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateX(300vw);
}
@media (max-width: 359px) {
  #technology-page {
    transform: translateY(300vh);
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  #technology-page {
    transform: translateY(300vh);
  }
}
@media (min-width: 600px) and (max-width: 949px) {
  #technology-page {
    transform: translateY(400vh) translateX(100vw);
  }
}
@media (min-width: 950px) and (max-width: 1599px) {
  #technology-page {
    transform: translateY(400vh) translateX(100vw);
  }
}
@media (min-width: 1600px) {
  #technology-page {
    transform: translateY(400vh) translateX(100vw);
  }
}

.technology-wrapper {
  width: 88%;
  height: calc(100% - 20%);
  margin: 60px auto 0;
}
@media (max-width: 359px) {
  .technology-wrapper {
    margin: 20px auto 0;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .technology-wrapper {
    margin: 20px auto 0;
  }
}

.technology-content {
  color: #ff5217;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  grid-auto-flow: column;
  justify-items: center;
  justify-content: space-between;
}
@media (max-width: 359px) {
  .technology-content {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .technology-content {
    display: none;
  }
}

.left {
  justify-content: start;
  text-align: left;
}
.left div {
  align-items: flex-start;
}

.right {
  justify-content: end;
  text-align: right;
}
.right div {
  align-items: flex-end;
}

.technology-content > div {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
}

.technologyEntry {
  max-height: 200px;
}
.technologyEntry__wrapper {
  display: flex;
  flex-direction: column;
}

.technologyName {
  cursor: pointer;
}
.technologyName {
  font-size: 14px;
}
@media screen and (min-width: 10px) {
  .technologyName {
    font-size: calc(14px + 14 * ((100vw - 10px) / 2490));
  }
}
@media screen and (min-width: 2500px) {
  .technologyName {
    font-size: 28px;
  }
}

.technologyDescription {
  font-size: 10px;
}
@media screen and (min-width: 10px) {
  .technologyDescription {
    font-size: calc(10px + 10 * ((100vw - 10px) / 2490));
  }
}
@media screen and (min-width: 2500px) {
  .technologyDescription {
    font-size: 20px;
  }
}
.technologyDescription ul {
  margin-top: 10px;
  font-size: 12px;
}
.technologyDescription ul {
  font-size: 8px;
}
@media screen and (min-width: 10px) {
  .technologyDescription ul {
    font-size: calc(8px + 8 * ((100vw - 10px) / 2490));
  }
}
@media screen and (min-width: 2500px) {
  .technologyDescription ul {
    font-size: 16px;
  }
}

.title {
  text-transform: uppercase;
  justify-content: start;
  font-family: "Play", sans-serif;
}
.title {
  font-size: 16px;
}
@media screen and (min-width: 10px) {
  .title {
    font-size: calc(16px + 16 * ((100vw - 10px) / 2490));
  }
}
@media screen and (min-width: 2500px) {
  .title {
    font-size: 32px;
  }
}

.glide_tech {
  display: none;
}
@media (max-width: 359px) {
  .glide_tech {
    display: block;
    height: 100%;
    color: #ff5217;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .glide_tech {
    display: block;
    height: 100%;
    color: #ff5217;
  }
}

.tech__slide {
  cursor: default;
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tech__slide > div {
  height: 70px;
}

#leading-line0 {
  width: 3455px;
  height: 870px;
  position: absolute;
  right: 95%;
  bottom: 19%;
  z-index: -1;
}

#leading-line1 {
  width: 1219px;
  height: 781px;
  position: absolute;
  right: 95%;
  top: 100%;
  z-index: -1;
}

#leading-line2 {
  width: 977px;
  height: 2365px;
  position: absolute;
  left: 55%;
  bottom: -130px;
  z-index: -1;
}

#leading-line3 {
  width: 2962px;
  height: 870px;
  position: absolute;
  left: 100%;
  bottom: 19%;
  z-index: -1;
}

#leading-line-contact0 {
  width: 6358px;
  height: 717px;
  position: absolute;
  right: 95%;
  bottom: 18%;
  z-index: -1;
}

#leading-line-contact1 {
  width: 4051px;
  height: 1277px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-contact2 {
  width: 1799px;
  height: 1723px;
  position: absolute;
  right: 95%;
  bottom: 15%;
  z-index: -1;
}

#leading-line-contact4 {
  width: 3166px;
  height: 1014px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology0 {
  width: 4449px;
  height: 1326px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology1 {
  width: 2852px;
  height: 2603px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology3 {
  width: 1856px;
  height: 1326px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-technology4 {
  width: 1737px;
  height: 2342px;
  position: absolute;
  right: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-about1 {
  width: 2226px;
  height: 1277px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-about2 {
  width: 4326px;
  height: 1791px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-about3 {
  width: 6479px;
  height: 717px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-about4 {
  width: 2214px;
  height: 1014px;
  position: absolute;
  left: 95%;
  top: 80%;
  z-index: -1;
}

#leading-line-project0 {
  width: 2318px;
  height: 1742px;
  position: absolute;
  right: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project2 {
  width: 2315px;
  height: 3113px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project3 {
  width: 4071px;
  height: 1774px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

#leading-line-project4 {
  width: 196px;
  height: 1062px;
  position: absolute;
  left: 95%;
  bottom: 20%;
  z-index: -1;
}

.hamburger_navigation {
  display: none;
}
@media (max-width: 359px) {
  .hamburger_navigation {
    display: inline-block;
    position: fixed;
    left: 80vw;
    top: 50;
  }
}
@media (min-width: 360px) and (max-width: 599px) {
  .hamburger_navigation {
    display: inline-block;
    position: fixed;
    left: 80vw;
    top: 50;
  }
}

.btn-menu {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.btn-menu:focus {
  border: 1px #ff5217 solid;
}

.btn-menu__label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.btn-menu__burger {
  position: relative;
  transition-timing-function: ease-in;
}

.btn-menu__burger,
.btn-menu__burger::before,
.btn-menu__burger::after {
  display: inline-block;
  width: 50px;
  height: 12px;
  background-color: #1d1d1b;
  border: 2px #ff5217 solid;
  box-sizing: border-box;
  transition: 500ms;
}

.btn-menu__burger::before,
.btn-menu__burger::after {
  content: "";
  position: absolute;
  left: -2px;
}

.btn-menu__burger::before {
  transform: translateY(-18px);
}

.btn-menu__burger::after {
  transform: translateY(14px);
}

.btn-menu_open .btn-menu__burger {
  transform: translateX(-100px);
  background-color: transparent;
}

.btn-menu_open .btn-menu__burger::before {
  transform: rotate(45deg) translate(72px, -72px);
}

.btn-menu_open .btn-menu__burger::after {
  transform: rotate(-45deg) translate(72px, 72px);
}

.menu {
  list-style: none;
  display: flex;
  background: #ccc;
}

.navigation__menu {
  visibility: hidden;
}

.navigation__menu_open {
  visibility: visible;
}

/*# sourceMappingURL=/app.581aa3f0.css.map */