.technology-page__navigation {
    margin-top: 0;
    margin-left: 0;
    &__list {
        color: tomato;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 1rem;
        font-family: 'Tomorrow', sans-serif;
        &__item {
            &-link {
                cursor: pointer;
            }
        }
    }
}

#technology__main-link2 {
    font-size: 2.2rem;
}