@import 'mixins';

#technology-page {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(300vw);
    @include sm-phone {
        transform: translateY(300vh);
    }
    @include phone {
        transform: translateY(300vh);
    }
    @include tablet {
        transform: translateY(400vh) translateX(100vw);
    }
    @include desktop {
        transform: translateY(400vh) translateX(100vw);
    }
    @include lg-desktop {
    transform: translateY(400vh) translateX(100vw);
    }
}

.technology-wrapper {
    width: 88%;
    height: calc(100% - 20%);
    margin: 60px auto 0;
    @include sm-phone {
        margin: 20px auto 0;
    }
    @include phone {
        margin: 20px auto 0;
    }
}

.technology-content {
    color: $main-line;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: space-between;
    @include sm-phone {
        display: none;
    }
    @include phone {
        display: none;
    }
}

.left {
    justify-content: start;
    text-align: left;
    & div {
        align-items: flex-start;
    }
}

.right {
    justify-content: end;
    text-align: right;
    & div {
        align-items: flex-end;
    }
}

.technology-content > div {
    // border: red 1px solid;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
}

.technologyEntry {
    max-height: 200px;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}


.technologyName {
    cursor: pointer;
    @include fluid-type(10px, 2500px, 14px, 28px);
}

.technologyDescription {
    // font-size: 16px;
    @include fluid-type(10px, 2500px, 10px, 20px);

    ul {
        margin-top: 10px;
        font-size: 12px;
        @include fluid-type(10px, 2500px, 8px, 16px);

    }
}

// .technologyClicked + span {
//     display: inline;
// }

.title {
    @include fluid-type(10px, 2500px, 16px, 32px);
    text-transform: uppercase;
    justify-content: start;
    font-family: 'Play', sans-serif;
}

.glide_tech {
    display: none;
    @include sm-phone {
        display: block;
        height: 100%;
        color: $main-line;
    }
    @include phone {
        display: block;
        height: 100%;
        color: $main-line;
    }
}

.tech__slide {
    cursor: default;
    width: 100%;
    height: 85vh;
    // border: green 1px solid;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > div {
        height: 70px;
    }
}

// .glide__slides, .glide__track {
//     height: 100%;
// }