#technology-page {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(300vw);
}

.technology-wrapper {
    width: 88%;
    height: calc(100% - 20%);
    margin: 60px auto 0;
}

.technology-content {
    color: $main-line;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: space-between;
    
}

.technology-content > div {
    border: red 1px solid;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.technologyName {
    cursor: pointer;
}

.technologyEntry {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:nth-child(2) {
            display: none;
        }
    }
    span {
        font-size: 14px;
    }
    ul {
        font-size: 10px;
    }
}    


.left {
    justify-content: start;
    text-align: left;

}

.right {
    justify-content: end;
    text-align: right;

}


.title {
    font-size: 1.3rem;
    text-transform: uppercase;
    justify-content: start;
}

.technologyClicked ~ span {
    display: inline;
}