#leading-line-contact0 {
    width: 6358px; //6358
    height: 717px; //717
    position: absolute;
    right: 95%;
    bottom: 18%;
    z-index: -1;
}

#leading-line-contact1 {
    width: 4051px; //4051
    height: 1277px; //1277
    position: absolute;
    right: 95%;
    top: 80%;
    z-index: -1;
}


#leading-line-contact2 {
    width: 1799px; //4051
    height: 1723px; //1277
    position: absolute;
    right: 95%;
    bottom: 15%;
    z-index: -1;
}

#leading-line-contact4 {
    width: 3166px; //4051
    height: 1014px; //1277
    position: absolute;
    right: 95%;
    top: 80%;
    z-index: -1;
}

