#leading-line0 {
    width: 3455px; //3455
    height: 870px; //870
    position: absolute;
    right: 95%;
    bottom: 5px;
    z-index: -1;
}

#leading-line1 {
    width: 1219px;
    height: 781px;
    position: absolute;
    right: 95%;
    top: 100%;
    z-index: -1;
}

#leading-line2 {
    width: 977px;
    height: 2365px;
    position: absolute;
    left: 55%;
    bottom: -130px;
    z-index: -1;
}

#leading-line3 {
    width: 2962px;
    height: 863px;
    position: absolute;
    left: 100%;
    bottom: 19%;
    z-index: -1;
}

// #leading-line0 polyline {
//     // stroke-dasharray: 4300;
//     // stroke-dashoffset: 4300;
// }

// #leading-line1 polyline {
//     // stroke-dasharray: 2400;
//     // stroke-dashoffset: 2400;
// }

// #leading-line2 polyline {
//     // stroke-dasharray: 5300;
//     // stroke-dashoffset: 5300;
// }

// #leading-line3 polyline {
//     // stroke-dasharray: 3800;
//     // stroke-dashoffset: 3800;
// }