#leading-line0 {
    width: 3455px; //3455
    height: 870px; //870
    position: absolute;
    right: 95%;
    bottom: 19%;
    z-index: -1;
    @include sm-phone {
        display: none;
    }
    
    @include phone {
        display: none;
    }
}

#leading-line1 {
    width: 1219px;
    height: 781px;
    position: absolute;
    right: 95%;
    top: 100%;
    z-index: -1;
    @include sm-phone {
        display: none;
    }
    
    @include phone {
        display: none;
    }
}

#leading-line2 {
    width: 977px;
    height: 2365px;
    position: absolute;
    left: 55%;
    bottom: -130px;
    z-index: -1;
    @include sm-phone {
        display: none;
    }
    
    @include phone {
        display: none;
    }
}

#leading-line3 {
    width: 2962px;
    height: 870px;
    position: absolute;
    left: 100%;
    bottom: 19%;
    z-index: -1;
    @include sm-phone {
        display: none;
    }
    
    @include phone {
        display: none;
    }
}
