#leading-line-project0 {
    width: 2318px;
    height: 1742px;
    position: absolute;
    right: 95%;
    bottom: 20%;
    z-index: -1;
}

#leading-line-project3 {
    width: 4071px;
    height: 1774px;
    position: absolute;
    left: 95%;
    bottom: 20%;
    z-index: -1;
}

#leading-line-project4 {
    width: 196px;
    height: 762px;
    position: absolute;
    left: 95%;
    bottom: 20%;
    z-index: -1;
}

