#leading-line-technology0 {
    width: 4449px;
    height: 1326px;
    position: absolute;
    right: 95%;
    top: 80%;
    z-index: -1;
}

#leading-line-technology1 {
    width: 2852px;
    height: 2603px;
    position: absolute;
    right: 95%;
    top: 80%;
    z-index: -1;
}

#leading-line-technology3 {
    width: 1856px;
    height: 1326px;
    position: absolute;
    left: 95%;
    top: 80%;
    z-index: -1;
}

#leading-line-technology4 {
    width: 1737px;
    height: 2342px;
    position: absolute;
    right: 95%;
    top: 80%;
    z-index: -1;
}

#leading-line-technology0 polyline {
    stroke-dasharray: 5900;
    stroke-dashoffset: 5900;
}

#leading-line-technology1 polyline {
    stroke-dasharray: 6700;
    stroke-dashoffset: 6700;
}

#leading-line-technology3 polyline {
    stroke-dasharray: 3800;
    stroke-dashoffset: 3800;
}

#leading-line-technology4 polyline {
    stroke-dasharray: 4055;
    stroke-dashoffset: 4055;
}