.project-page__navigation {
    margin-top: 100px;
    margin-left: 0;
    &__list {
        color: tomato;
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-end;
        margin-top: 3rem;
        font-size: 1.5rem;
        font-family: 'Tomorrow', sans-serif;
        &__item {
            &-link {
                cursor: pointer;
            }
        }
    }
}

#project__main-link1 {
    font-size: 2.2rem;
}