#project-page {
    top: 0;
    left: 0;
    position: absolute;
    @include sm-phone {
        transform: translateY(200vh);
    }
    @include phone {
        transform: translateY(200vh);
    }
    @include tablet {
        transform: translateY(400vh) translateX(100vw);
    }
    @include desktop {
        transform: translateY(400vh) translateX(100vw);
    }
    @include lg-desktop {
    transform: translateY(400vh) translateX(100vw);
    }
}

.glide__bullet {
    background-color: $main-grey;
    border: 2px solid $main-line;
    height: 30px;
    width: 30px;
    border-radius: 0;
    &:hover {
        background-color: $main-grey;
        border: 2px solid $main-line;

    }
    &:focus {
        background-color: $main-line;
        border: 2px solid $main-line;
    }
    &--active {
        background-color: $main-line;
        &:hover {
            background-color: $main-line;
            border: 2px solid $main-line;

        }
        &:focus {
            background-color: $main-line;
            border: 2px solid $main-line;
        }
    }
}

.project__slide {
    cursor: default;
    width: 100%;
    height: 90vh;
    // border: green 1px solid;
    position: relative;
    overflow: hidden;
    & > svg {
        width: 100%;
        position: absolute;

    }
    .promyk_svg {
        height: 465px;
        min-width: 1591px;
        bottom: 2em;
        left: -160px
    }
    .alan_svg {
        font-family: 'Kumar One', cursive;
        text-align: center;
        left: -125px;
        bottom: -7.5em;
        height: 615px;
        min-width: 1605px;
    }
}



.promyk-text {
    width: 400px;
    font-family: 'Play', sans-serif;
    color: $main-line;
    position: absolute;
    bottom: 255px;
    left: 590px;
    text-align: right;
    & h2 {
        margin-bottom: 20px;
    }
}

.alan-text {
    width: 220px;
    font-family: 'Play', sans-serif;
    color: $main-line;
    position: absolute;
    bottom: 102px;
    right: 105px;
    text-align: right;
    & h2 {
        margin-bottom: 20px;
        font-family: 'Tomorrow', sans-serif;
    }
}

#sloneczko_project {
    position: absolute;
    top: 14vh;
    left: 10vw;
    width: 359.8px;
    height: 268.3px;
}