.main-page {
    background-color: $main-grey;
    height: 100vh;
    width: 100vw;
    transform: translateX(($global-width/2) - 50vw) translateY(($global-height/2) - 50vh);
    // overflow-x: hidden;
    // overflow-y: hidden;
    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}