.logo {
    position: relative;
    @include sm-phone {
        margin-top: 20vh;
    }
    @include phone {
        margin-top: 20vh;
    }
    &__text {
        font-family: 'Kumar One', cursive;
        text-align: center;
        color: $main-line;
        background-color: $main-grey;
        line-height: 4rem;
        z-index: 20;
        position: relative;
        @include sm-phone {
            font-size: 8vw;
            line-height: 8vw;
            white-space: nowrap;
        }

        @include phone {
            font-size: 8vw;
            line-height: 8vw;
            white-space: nowrap;
        }
    }
    &__underline {
        min-height: 2px;
        width: 100vw;
        background-color: $main-line;
        position: absolute;
        top: 2.8rem;
        left: -29vw;
        z-index: 10;
        @include sm-phone {
            display: none;
        }
        @include phone {
            display: none;
        }
    }
    &__cover {
        background-color: $main-grey;
        width: 110%;
        height: 120%;
        position: absolute;
        z-index: 30;
        top: -10%;
        right: -5%;
        @include sm-phone {
            display: none;
        }
        @include phone {
            display: none;
        }
    }
}

