#contact-page {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(200vh) translateX(400vw);
}
.contact-wrapper {
    width: 80%;
    margin: 0 auto;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 50px;
    height: 100%;
    width: 100%;
}

.text-svg-container {
    width: 100%;
    color: $main-line;
    display: flex;
    &__text {
        width: 75%;
    }

    &__svg {
        width: 25%;
        border-left: 2px solid $main-line;
        padding-left: 50px;
        display: flex;
        &__linkedin {
            height: 4rem;
            fill: $main-line;
        }
        &__mail {
            height: 4.5rem;
            fill: $main-line;
            margin-right: 40px;
        }
    }
}

.contact-form {
    margin-top: 4rem;
    width: 600px;
    &__list li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        color: $main-line;
        & label {
            width: 150px;
            padding-top: 5px;
        }
        & input, textarea {
            background-color: transparent;
            width: 450px;
            border: none;
            min-height: 40px;
        }
        & textarea {
            min-height: 125px;
        }
    }
}

#name {
    border-left: 2px $main-line solid;
    border-bottom: 2px $main-line solid;
}

#mail {
    border-left: 2px $main-line solid;
}

#msg {
    border-left: 2px $main-line solid;
    border-top: 2px $main-line solid;
}

.form-button {
    display: flex;
    justify-content: end;
    & button {
        background-color: transparent;
        padding: .5rem;
        color: $main-line;
        border: 1px solid $main-line;
        width: 450px;
        margin: 0 0 0 auto;
        text-align: left;
        &:hover {
            background-color: rgba(255,99,71 ,.5 );
            cursor: pointer;
        }
    }
}

.social-link {
    text-decoration: underline;
    font-weight: bold;
}
