.contact-page__navigation {
    margin-top: 10vh;
    margin-left: 0;
    &__list {
        color: tomato;
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 3rem;
        font-size: 1.5rem;
        font-family: 'Tomorrow', sans-serif;
        &__item {
            &-link {
                cursor: pointer;
            }
        }
    }
}

#contact__main-link3 {
    text-transform: uppercase;
}