#about-page {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(200vh);
}

.about-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 2.2rem);
    line-height: 1.5rem;
}

.profilePic {
    height: 75vh;
    border-radius: 10%;
}

.portrait-container {
    width: 45%;
}

.about-description {
    color: $main-line;
    width: 55%;
}

#portrait {
    height: 100%;
    width: 100%;
}

