#about-page {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(200vh);
}

.about-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 2.2rem);
    line-height: 1.5rem;
}

.portrait-container {
    width: 300px;
    margin-top: -80px;
    position: relative;
}

.about-description {
    color: $main-line;
    max-width: 60%;
}

#portrait {
    height: 100%;
    width: 100%;
}

#portrait__line-down {
    position: absolute;
    top: 98%;
    left: -212px;
}

#portrait__line-down-left {
    position: absolute;
    top: 81%;
    right: 299px;
}

#portrait__line-top-left {
    position: absolute;
    top: 0;
    right: 207px;
}

#portrait__line-top-right {
    position: absolute;
    top: 27%;
    left: 259px;
}

#portrait__line-down-right {
    position: absolute;
    top: 87.5%;
    left: 273px;
}