@import 'mixins';


$main-line: #ff5217;
$main-grey: #1d1d1b;
$global-height: 2000vh;
$global-width: 2000vw;

$min_width: 360px;
$max_width: 1900px;
$min_font_p: 16px;
$max_font_p: 20px;

$min_font_nav: 16px;
$max_font_nav: 24px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

p, button {
    @include fluid-type($min_width, $max_width, $min_font_p, $max_font_p);
}

nav, span {
    @include fluid-type($min_width, $max_width, $min_font_nav, $max_font_nav);
}


body {
    background: $main-grey;
    height: $global-height;
    width: $global-width;
    // overflow: hidden;
}

p, button, label, input, span {
    font-family: 'Play', sans-serif;
}


h1 {
    font-size: 3.5rem;
}



section {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $main-line;
    position: relative;
}

svg {
    pointer-events: none;
}

.contact-page__navigation__list__item {
    position: relative;
}

.technology-page__navigation__list__item {
    position: relative;
}

.about-page__navigation__list__item {
    position: relative;
}

.project-page__navigation__list__item {
    position: relative;
}
