* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


$main-grey: #1d1d1b;
$global-height: 700vh;
$global-width: 700vw;

body {
    background: $main-grey;
    height: $global-height;
    width: $global-width;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: tomato;
    position: relative;
}

svg {
    pointer-events: none;
}

.contact-page__navigation__list__item {
    position: relative;
}

.technology-page__navigation__list__item {
    position: relative;
}

.about-page__navigation__list__item {
    position: relative;
}

.project-page__navigation__list__item {
    position: relative;
}

.lorem {
    color: tomato;
    width: 80%;
    margin-top: 15vh;
    margin-left: 10%;
}