@import 'mixins';


$main-line: #ff5217;
$main-grey: #1d1d1b;
$global-height: 2000vh;
$global-width: 2000vw;

$min_width: 360px;
$max_width: 1900px;
$min_font: 16px;
$max_font: 24px;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
    background: $main-grey;
    height: $global-height;
    width: $global-width;
    // overflow: hidden;
}

h1 {
    font-size: 3.5rem;
}



section {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $main-line;
    position: relative;
}

svg {
    pointer-events: none;
}

.contact-page__navigation__list__item {
    position: relative;
}

.technology-page__navigation__list__item {
    position: relative;
}

.about-page__navigation__list__item {
    position: relative;
}

.project-page__navigation__list__item {
    position: relative;
}

.lorem {
    color: tomato;
    width: 80%;
    margin-top: 15vh;
    margin-left: 10%;
}