@import 'animations';

$logo-width: 300px;

.logo {
    font-size: 1.5rem;
    line-height: 3.8rem;
    position: relative;
    min-width: $logo-width;
    margin-bottom: 100px;
    font-family: 'Kumar One', cursive;
    &__text {
        background-color: $main-grey;
        position: relative;
        z-index: 100;
        text-align: center;
    }
    &__underline {
        z-index: 0;
        position: absolute;
        left: calc(-50vw + 50%);
        min-height: 3px;
        top: calc(50% - 22px);
        width: 100vw;
        background: linear-gradient($gradient-direction, $start-gradient, $end-gradient);
    }
    &__clipcover {
        position: absolute;
        width: 100vw;
        left: calc(-50vw + 50%);
        top: -20px;
        height: 140px;
        z-index: 150;
        background-color: $main-grey;
        animation-name: reveal-from-left, hide-line;
        animation-duration: .5s, .5s;
        animation-delay: 1s, 1.5s;
        animation-iteration-count: 1, 1;
        animation-fill-mode: none, forwards;    
    }
    
}