@import 'animations', 'mixins';

$list-width: 600px;

.nav-container {
    position: relative;
}

.nav-list {
    font-size: 1.5rem;
    display: flex;
    width: $list-width;
    justify-content: space-between;
    align-items: center;
    &__item {
        cursor: pointer;
        background-color: $main-grey;
        position: relative;
        z-index: 100;
        text-align: center;
        &::after {
            content: "";
            width: 2px;
            height: 0px;
            position: absolute;
            background-color: tomato;
            left: 15%;
            bottom: -33vh;
            animation-duration: .5s;
        }
        &:hover::after {
            animation-name: list-item-line;
        }
    }
}

.nav-list__underline {
    @include underline(2px, -5px)
}

.nav-list__clipcover {
    @include clipcover-animation(.5s, .5s, 2.5s, 3s);   
}

